# postgresql
psycopg2-binary==2.8.6

# ipython
ipython==7.19.0
ipython-genutils==0.2.0

# django restframework
djangorestframework==3.12.2

# swagger
drf-yasg==1.20.0

# allow different origin
django-cors-headers==3.6.0

# envrionment variable
django-environ==0.4.5

# s3 storage
boto3==1.16.51
django-storages==1.11.1

# simple jwt
djangorestframework-simplejwt==4.6.0

# celery
celery==5.0.5

# redis
redis==3.5.3

# uwsgi_tools
uwsgi-tools==1.1.1